<div class="header">
    <div class="menu">
        <ul class="ul_menu">
            <li><span>{{ title }}</span> is running!</li>
            <li><a routerLink="" routerLinkActive="active">Home</a></li>
            <li><a routerLink="about" routerLinkActive="active">App</a></li>
            <li><a routerLink="about" routerLinkActive="active">Acceso</a></li>
            <li><a routerLink="about" routerLinkActive="active">Menu</a></li>
            <li><a routerLink="about" routerLinkActive="active">About</a></li>
        </ul>
    </div>
</div>