.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #333333;
    color: white;
    font-weight: 600;
  }
.menu{
    flex: 1;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
}
li {
  color: white;
  padding: 16px;
}
span{
  color: #008080;
}
a{
  color: #fff;
  text-decoration: none;
}