.favorite{
    background-color: #008080;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight:lighter;
    color: #fff;
    padding: 1rem;
}
.image{
    width: 400px;
    height: 280px;
}
.title{
    font-size: 22px;
    font-style: initial;
}
.subtitle{
    font-size: 19px;
    font-style: oblique;
}