.mini-image{
    width: 50px;
    height: 45px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
}
li {
    color: white;
    padding: 16px;
  }








  .lateral{
    box-sizing: border-box;
    width: max(8%, 200px);
    display: inline-block;
    position: fixed;
     padding-top: 30px
    }
.principal{
    margin-left: max(10%, 200px);
    padding: 0 10px;
    height: 100%;
    text-align: justify;
    background:white;
    }
    /*Hasta aquí ya tenemos un menu lateral fijo,
    ahora viene ponerlo bonito*/

.lateral header{
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    }
.lateral ul{
    list-style:none;
    padding-left:0;
    margin-top:0;
    }
.lateral ul li{
    display:block;
    position: relative;
    padding: 8px 10px;
    margin-left:0;
    }
.lateral ul li a{
    color: white;
    text-decoration:none; 
    }
.lateral ul li a:after{
    content: ' ';
    position:absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    }
.menuVert{
    color: beige;
}
