.header{
    height: 50px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-top: 60px;
}
.mini-image{
    width: 50px;
    height: 45px;
}