<!-- Header Component -->
<div class="header">
  <app-header></app-header>
</div>
  <!--Card  Component -->
  <div class="grid">
    <app-card  [dataEntrante]="detalleLibro" *ngFor="let detalleLibro of caratulaLibros">
      <div class="card-image" >
        <img class="image" [src]= "detalleLibro?.img"alt="">
    </div>

      <div class="title">{{ detalleLibro.title }}</div>
      <div class="title">{{ detalleLibro.subtitle }}</div>
    </app-card>
  </div>
  <!--SideBar  Component -->
  <app-favorite-sidebar></app-favorite-sidebar>
  